tweepy
selenium
bs4
lxml
pelutils
pandas
efficient-apriori
gensim
tqdm
networkx==2.5
fa2==0.3.5
community==1.0.0b1
python-louvain==0.16
nltk==3.7
wordcloud==1.8.2.2
decorator==5.0.9
fitz
PyMuPDF==1.19.6
torch
powerlaw==1.5